<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>Formulario</servlet-name>
        <servlet-class>com.GestionCarrito</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Formulario</servlet-name>
        <url-pattern>/gestionarCarrito</url-pattern>
    </servlet-mapping>   

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.BD.GestionBD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/gestionarBD</url-pattern>
    </servlet-mapping>            
        
     

</web-app>